.socialContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
}

@media only screen and (max-width: 520px) {
  .socialContainer {
    gap: 15px;
  }
  .icon {
    width: 22px;
  }
}
