.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 15px;
  background-color: #191919;
}

.logo {
  height: 30px;
}
.text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  color: #5f5a4e;
}
